.menu-parking{
    display: flex;
    align-items: center;
    gap: 24px;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 14px;
}
.menu-parking li{
    font-weight: 400;
    font-size: 40px;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    color: #AEAEAE;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.menu-parking li:hover{
    color: #560300;
}
.menu-parking .menu-parking-active{
    color: #560300;
    border-bottom: 1px solid #560300;
}

.spaces-parking-main{
    max-width: 1446px;
    width: 100%;
}
.spaces-parking-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.parking-sort-flex{
    display: flex;
    align-items: center;
    gap: 16px;
}
.sort-boxes, .sort-line{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.sort-boxes svg path, .sort-line svg path{
    transition: 0.3s;
    fill: rgb(174, 174, 174);
}
.sort-boxes svg rect, .sort-line svg rect{
    transition: 0.3s;
    fill: rgb(174, 174, 174);
}
.sort-active svg rect{
    fill: #000000;
}
.sort-active svg path{
    fill: #000000;
}

.parking-table-line{
    width: 100%;
    margin-top: 24px;
    display: none;
}



.parking-table-line{
    width: 100%;
    margin-top: 24px;
    display: none;
}

.parking-table-menu ul{
    display: flex;
    text-decoration: none;
    border-bottom: 1px solid #AEAEAE;
}
.parking-table-menu ul li{
    color: #AEAEAE;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    justify-content: center;
    max-width: 175px;
    width: 100%;
    align-items: center;
    height: 70px;
}
.parking-table-menu ul li:nth-child(1){
    max-width: 60px;
}

.parking-table-box{
    padding: 48px 0 24px;
    display: flex;
    align-items: flex-start;
}

.parking-table-name{
    max-width: 175px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.parking-table-name:first-child{
    max-width: 60px;
}
.parking-table-name p{
    color: #2F2E2E;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    white-space: nowrap;

}
.parking-table-name strong{
    color: #2F2E2E;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    white-space: nowrap;

}


.parking-table-btn{
    max-width: 287px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.btn-red{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s;
    border-radius: 32px;
    padding: 12px 32px;
    background: #560300;
    color: #FBF9ED;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    border: unset;
    height: 48px;
    cursor: pointer;
    white-space: nowrap;
}
.btn-red:hover{
    background: #4b0300;
}
.download-layout{
    border: 1px solid #560300;
    background: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s;
    padding: 12px 30px;
    gap: 8px;
    border-radius: 32px;
    color: #560300;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-decoration: unset;
    height: 48px;
    cursor: pointer;
    white-space: nowrap;

}

.show-more-lay{
    width: max-content;
}


.parking-table-boxes{
    display: none;
    margin-top: 24px;
}
.table-line-opened{
    display: block;
}

.table-boxes-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.table-boxes-box{
    width: calc(33.333333% - 11px);
    border: 1px solid #4F4F4F;
    border-radius: 12px;
    padding: 12px;
}
.table-boxes-flex{
    display: flex;
    justify-content: space-between;
}
.table-boxes-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;

}
.table-boxes-name{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.table-boxes-name strong{
    color: #2F2E2E;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    white-space: nowrap;
}
.table-boxes-name p, .table-boxes-name del{
    color: #AEAEAE;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}
.table-boxes-name span{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #2F2E2E;
}

.table-boxes-btn{
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 16px;
}
.table-boxes-btn .btn-red {
    height: 36px;
    padding: 8px 20px;
}
.table-boxes-btn .download-layout {
    padding: 3px 3px;
    border-radius: 50px;
    height: 36px;
    max-width: 36px;
}

.table-boxes-price{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}
.main-filters-width {
    position: relative;
    flex: 1;
}

.main-filters-width .main__filters-right-wrapper{
    margin-top: 44px;
}

.boxes-price-discount {
    background: #efe0cf;
    border-radius: 999px;
    padding: 3px 8px 4px;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    white-space: nowrap;
}






.storerooms-cart{
    max-width: 1224px;
    width: 100%;
    display: flex;
    position: relative;
}





.content-block {
    display: none;
}
.content-block.active {
    display: block;
}

.click-parking{
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    z-index: 111;
}
.click-parking rect{
    fill: rgba(255, 255, 255,0.0);
    transition: 0.3s;
}
.click-parking path{
    fill: rgba(255, 255, 255,0.0);
    transition: 0.3s;

}
.click-parking polygon{
    fill: rgba(255, 255, 255,0.0);
    transition: 0.3s;

}
.click-parking:hover rect{
    fill: rgba(86, 3, 0,0.4);
}
.click-parking:hover path{
    fill: rgba(86, 3, 0,0.4);
}
.click-parking:hover polygon{
    fill: rgba(86, 3, 0,0.4);
}

.parking-active rect, .parking-active path,  .parking-active polygon{
    fill: rgba(86, 3, 0,0.4);
}








.storerooms-modal{
    box-shadow: 4px 4px 30px 0px #00000029;
    background: #EDECE2;
    width: 351px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 32px;
    gap: 32px;
    display: none;
    z-index: 111;
}
.storerooms-modal-opened{
    display: block;
}

.storerooms-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.storerooms-price del{
    color: #AEAEAE;
    font-weight: 400;
    font-size: 20px;
    line-height: 29.79px;
    display: none;
}
.discount-visible del{
    display: block;
}
.storerooms-price strong{
    color: #560300;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    display: block;
}
.storerooms-price span{
    background: #560300;
    width: 81px;
    height: 38px;
    border-radius: 38px;
    padding: 4px 14px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 29.79px;
    text-align: center;
    display: none;

}
.discount-visible span{
    display: block;
}
.project-number{
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.project-number-count{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project-number-count p{
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #AEAEAE;
}
.project-number-count span{
    color: #2F2E2E;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.storerooms-btn{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.custom-select-mob{
    display: none;
}


@media (max-width: 1599px){
    .menu-parking  li {
        font-size: 30px;
    }

    .parking-table-menu ul li {
        font-size: 16px;
        max-width: 140px;
        height: 52px;
    }
    .parking-table-name p {
        font-size: 16px;
    }
    .parking-table-name strong {
        font-size: 20px;
        line-height: 100%;
    }
    .parking-table-btn {
        max-width: 250px;
        gap: 12px;
    }
    .btn-red {
        padding: 8px 24px;
        font-size: 16px;
        height: 42px;
    }
    .download-layout {
        padding: 8px 23px;
        font-size: 16px;
        height: 42px;
    }
    .parking-table-name {
        max-width: 140px;
    }
    .parking-table-name:first-child {
        max-width: 40px;
    }
    .parking-table-menu ul li:nth-child(1) {
        max-width: 40px;
    }

    .table-boxes-box {
        width: calc(50% - 11px);
    }
}
@media (max-width: 1199px){
    .table-boxes-box {
        width: 100%;
    }
}
@media (max-width: 1023px){
    .table-boxes-box {
        width: calc(50% - 11px);
    }

    .spaces-parking-flex {
        gap: 20px;
    }
    .menu-parking li {
        font-size: 22px;
    }
    .menu-parking {
        gap: 18px;
        margin-bottom: 2px;
    }
    .storerooms-modal {
        width: 310px;
        padding: 20px;
    }
    .project-number {
        margin: 22px 0;
        gap: 16px;
    }
    .project-number-count p {
        font-size: 16px;
    }
    .project-number-count span {
        font-size: 16px;
    }
    .storerooms-price strong {
        font-size: 26px;
        line-height: 26px;
    }




    .menu-parking{
        display: none;
    }

    .custom-select-mob {
        position: relative;
        width: 100%;
        max-width: 100%;
        display: block;
    }

    .select-display {
        padding: 12px 24px;
        border: 1px solid #686868;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        color: #090909;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        transition: 0.3s;

    }
    .select-display:after{
        content: "";
        position: absolute;
        right: 20px;
        top: 11px;
        border-top: 2px solid #000000;
        border-right: 2px solid #000000;
        width: 10px;
        height: 10px;
        transform: rotate(135deg);
    }
    .select-options {
        list-style: none;
        margin: 8px 0 0;
        padding: 10px 8px;
        border-radius: 24px;
        background: #EDECE2;
        box-shadow: 4px -4px 30px 0px #5363744D;

        display: none;
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    .select-options li {
        padding: 16px 16px;
        cursor: pointer;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        color: #4F4F4F;
        border-radius: 50px;
        transition: 0.3s;
    }

    .select-options li.active,
    .select-options li:hover {
        background: #FFFFFF80;
    }

    .parking-section {
        display: none;
        margin-top: 20px;
    }
    .parking-section.active {
        display: block;
    }

    .parking-sort-flex{
        display: none;
    }

}
@media (max-width: 767px){
    .table-boxes-box {
        width: 100%;
    }

}
@media (max-width: 570px){

    .table-boxes-name strong {
        font-size: 16px;
    }
    .table-boxes-name p, .table-boxes-name del {
        font-size: 14px;
    }
    .table-boxes-name span {
        font-size: 16px;
    }
}